<html>
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.css" />
        <link rel="stylesheet" href="static/styles.css" />
    </head>
    <body>
        <header>
            <div class="nav-bar">
                <div class="container">
                    <div id="topnav">
                        <div id="topnav-left">
                            <a href="/">로그인</a>
                            <a href="/map">지도</a>
                            <a href="/guest">방명록</a>
                            <a href="/chatting">채팅</a>
                        </div>
                        <div id="topnav-right">
                            <a href="/signup">회원가입</a>
                            <a href="/logout">로그아웃</a>
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <br>
        </header>
        <div class="main">
            <div class="container">
                {% block contents %}
                {% endblock %}
            </div>
        </div>
    </body>
</html>